{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Doctor Portal</title>
<title>Bootstrap Carousels</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>	
    <link href="{% static 'signUp.css'%}" rel="stylesheet">
    
</head>

<body>
    
    <img src="{% static 'hospital.png' %}" alt="hospital">

    <h1 class= "center">Sign up for Patient Portal</h1>
    <form action="/back" method="POST">
        {% csrf_token %}
        <h4>Name</h4>
        <label for="lname">Last Name:</label><br>
        <input type="text" id="lname" name="lname"><br>
        
        <label for="ssn">Last 4 Digits of SSN:</label><br>
        <input type="text" id="ssn" name="ssn"><br>
       
        <h5>Reason for Appointment</h5>
        <select id="reason" name="Reason">
            <option value="Yearly">Yearly Check-Up</option>
            <option value="physical">Physical</option>
        </select>

        <h5>Date</h5>
        <input type="date" id="apptdate" name="apptdate" ><br>
        
       
        <button type="submit">Create</button>
    </form>
    

<footer>Website by Micheal, Stuart, and Febronia </footer>

</body>
</html>
